.buddy-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.buddy-card {
	width: 300px;
	margin: 10px;
	background-color: white;
	border-radius: 5px;
	
	&__image {
		width: 100px;
	}
	
	&__age {
		&-year {
			margin-right: 5px;
		}
	}
}