.buddy-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.no-buddies {
	margin-top: 50px;
	text-align: center;
}

.buddy-card {
	height: 400px !important;
	margin: 10px;
	background-color: white;
	border-radius: 5px;
	
	&__image {
		border-top-left-radius: 5px !important;
		border-top-right-radius: 5px !important;
		height: 250px !important;
		object-fit: cover !important;
	}
	
	&__age {
		&-year {
			margin-right: 5px;
		}
	}
}