.background-primary {
	background-color: $primary-colour !important;
}

.background-secondary {
	background-color: $secondary-colour !important;
}

.foreground-primary {
	color: $primary-colour !important;
}

.foreground-secondary {
	color: $secondary-colour !important;
}

.foreground-highlight {
	color: $highlight-colour !important;
}