html,
button,
input,
optgroup,
select,
textarea {
	font-family: 'Acme', sans-serif;
}

html, body {
	height: 100%;
}

.background-primary {
	background-color: $primary-colour !important;
}

.background-secondary {
	background-color: $secondary-colour !important;
}

.foreground-primary {
	color: $primary-colour !important;
}

.foreground-secondary {
	color: $secondary-colour !important;
}

.foreground-highlight {
	color: $highlight-colour !important;
}

.mt-50 {
	margin-top: 50px;
}

.mt-25 {
	margin-top: 25px;
}
