html,
button,
input,
optgroup,
select,
textarea {
	font-family: 'Acme', sans-serif;
}

html, body {
	height: 100%;
}

.content {
	height: calc(100vh - #{$nav-height} - #{$footer-height});
}

.page-footer {
	height: $footer-height;
	padding-top: 15px;
	padding-left: 25px;
	background-color: $primary-colour;
}

// https: //stackoverflow.com/questions/4575826/how-to-push-a-footer-to-the-bottom-of-page-when-content-is-short-or-missing
.flex-container {
	display: flex;
	min-height: calc(100vh - #{$nav-height});
	flex-direction: column;
	justify-content: space-between;
}

.background-primary {
	background-color: $primary-colour !important;
}

.background-secondary {
	background-color: $secondary-colour !important;
}

.foreground-primary {
	color: $primary-colour !important;
}

.foreground-secondary {
	color: $secondary-colour !important;
}

.foreground-highlight {
	color: $highlight-colour !important;
}

.mt-50 {
	margin-top: 50px;
}

.mt-25 {
	margin-top: 25px;
}
