#validate-firstName,
#validate-email,
#validate-password,
#validate-puppersName,
#validate-breed,
#validate-email-duplicate,
#validate-dogPic {
	color: red;
	display: none;
}

.invalid {
	display: block !important;
}