nav {
	height: $nav-height;
}

.nav-wrapper {
	.brand-logo {
		font-size: 1.2rem;
	}
}

@media screen and (min-width: 500px) {
	.nav-wrapper {
			.brand-logo {
				margin-left: 1.5rem;
				font-size: 2.1rem;
			}
		}
}